
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 10px;
  --cor_fundo_site:#2F3841;
}

.content{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
 
  /* position: fixed; */
  width: 100%;
  max-width: 140rem;
  max-height: 13.8rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  background-color: var(--cor_fundo_site);
  padding-left: 7%;
  margin-bottom: 3rem;
}

header img{
  width: 10%;
}

main{
  display: flex;
  flex-direction: column;
  padding:0 7%;
}

main h1{
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.attraction-name-section{
  display: flex;
  flex-direction: column;
}

.attraction-name-section label{
  font-size: 2.2rem;
  font-weight: bold;
}

.attraction-name-section input{
  width: 74rem;
  height: 4rem;
  background-color: #D9D9D9;
  border-radius: 1rem;
  border: none;
  padding-left: 2rem;
  font-size: 2.2rem;
}

.attraction-name-section input:focus{
  outline: none;
}

.checkbox-section{
  display: flex;
  flex-direction: column;
}

.checkbox-section label{
  font-size: 2.2rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: .4rem;
}

.checkbox-container input{
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox-container label{
  font-size: 2rem;
}

.audience-points-section{
  display: flex;
  flex-direction: column;
}

.audience-points-section label{
  font-size: 2.2rem;
  font-weight: bolder;
  margin-top: 2rem;
}
.audience-points-section input{
  width: 10.9rem;
  height: 4rem;
  background-color: #D9D9D9;
  border-radius: 1rem;
  border: none;
  font-size: 2.2rem;
  text-align: center;
}
.audience-points-section input:focus{
  outline: none;
}

.calculation-button-section{
  display: flex;
  justify-content: center;

  margin-top: 3rem;
  margin-bottom: 5rem;
}

.calculation-button-box{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45.3rem;
  height: 9.4rem;
  background-color: #D15A26;
  border-radius: 1rem;
  border: none;

  font-size: 3.6rem;
  color: #FFFFFF;
}

.calculation-button-box:hover{
  background-color: #dd4706;
  cursor: pointer;
}


footer{
  width: 100%;
  max-width: 140rem;
  max-height: 18.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2F3841;

  font-size: 1.8rem;
  color: #FFFFFF;

  padding-bottom: 1rem;
  padding-top: 1rem;

  font-family: 'Inter', sans-serif;
}



footer img{
  width: 10%;
}


