*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 10px;
  --cor_fundo_site:#d3a90c;
}

body{

}

.content{
  width: 100%;
  margin: 0 auto;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #d3a90c;
  padding-left: 5%;
}

header img{
  width: 10%;
}

